@font-face {
  font-family: "Aref Ruqaa";
  src: url("../fonts/ArefRuqaa-Regular.ttf") format("ttf"), url("../fonts/ArefRuqaa-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Mono";
  src: url("../fonts/PTMono-Regular.ttf") format("ttf"), url("../fonts/PTMono-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}