// Colors
$primary-color: #EDECE4;
$secondary-color: #CBC6B9;
$success: #1AB912;

$dark-primary: #988c77;
$dark: #2A2426;

$black: #000000;
$white: #FFFFFF;

// Grid
$cols: 12;
$gutter: 20px;
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

// Fonts
$font-aref: "Aref Ruqaa";
$font-ptmono: "PT Mono";